compile_commands.json
.cache
build

configure~

# Kernel module files
.Module.*
.modules.*
Module.*
modules.*
.youtubeKblock.*
youtubeKblock.ko
youtubeKblock.mod*
youtubeKblock.o
.mangle.*
mangle.o
.youtubeKUnblock.*
youtubeKUnblock.ko
youtubeKUnblock.mod*
youtubeKUnblock.o
